<div class="bg-opacity-10 h-16 fixed bottom-0 md:relative md:h-screen w-full md:w-48 z-50">
    <div class="flex flex-col bg-gray-100 dark:bg-gray-700 md:h-screen md:pt-5 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-center">
    <a
        [routerLink]="[path.Home]"
        class="text-2xl font-bold no-underline cursor-pointer"
    >
        <span>ZABUD</span>
    </a>
        <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
            <li class="mr-3 flex-1">
                <a [routerLink]="[path.Dashboard]" routerLinkActive="border-purple-500" class="flex gap-3 py-1 md:py-3 pl-1 align-middle no-underline border-b-2 border-gray-800 hover:border-purple-500">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
                    </svg>
                    <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Inicio</span>
                </a>
            </li>
            <li class="mr-3 flex-1">
                <a [routerLink]="[path.Users]" routerLinkActive="border-pink-500" class="flex gap-3 py-1 md:py-3 pl-1 align-middle no-underline border-b-2 border-gray-800 hover:border-pink-500">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" />
                    </svg>
                    <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Usuarios</span>
                </a>
            </li>
            <li class="mr-3 flex-1">
                <a [routerLink]="[path.NotFound]" routerLinkActive="border-blue-500" class="flex gap-3 py-1 md:py-3 pl-1 align-middle no-underline border-b-2 border-gray-800 hover:border-blue-500">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                    <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Otro ítem</span>
                </a>
            </li>
        </ul>
    </div>
</div>
