<div class="bg-opacity-10 h-16 fixed bottom-0 md:relative md:h-screen w-full md:w-48 z-50">
    <div class="flex flex-col bg-gray-100 dark:bg-gray-700 md:h-screen md:pt-5 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-center">
    <a
        [routerLink]="[path.Home]"
        class="text-2xl font-bold no-underline cursor-pointer"
    >
        <span>ZABUD</span>
    </a>
        <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
            <li class="mr-3 flex-1">
                <a [routerLink]="[path.Dashboard]" class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 border-gray-800 hover:border-pink-500">
                    <i class="fas fa-tasks pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Dashboard</span>
                </a>
            </li>
            <li class="mr-3 flex-1">
                <a [routerLink]="[path.Users]" class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 border-gray-800 hover:border-purple-500">
                    <i class="fa fa-envelope pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Users</span>
                </a>
            </li>
            <li class="mr-3 flex-1">
                <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline border-b-2 border-blue-600">
                    <i class="fas fa-chart-area pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Analytics</span>
                </a>
            </li>
        </ul>
    </div>
</div>
